<section class="signin" id="signin">
  <p class="exit" onclick="showSignin()">X</p>
  <p class="title">Connexion</p>
  <p>Garde un oeil sur l’air que tu respire.</p>
  <br>
  <div class="form">
    <div>
      <label for="email">E-mail</label><br>
      <input type="text" name="email" id="email" placeholder="john.doe@example.com">
    </div>
    <div>
      <label for="password">Mot de passe</label><br>
      <input type="password" name="password" id="password" placeholder="******">
    </div>
    <br>
    <button>se connecter</button>
    <br>
    <div>
      <p>mot de passe oublié ?</p>
      <p onclick="showSignin(),showSignup()">pas encore inscrit ?</p>
    </div>
  </div>
</section>