<section class="signup">
  <p class="exit" onclick="showSignun()">X</p>
  <p>Connexion</p>
  <p>Garde un oeil sur l’air que tu respire.</p>
  <br>
  <form action="">
    <div>
      <label for="email">E-mail</label><br>
      <input type="text" name="email" id="email" placeholder="john.doe@example.come">
    </div>
    <div>
      <label for="password">E-mail</label><br>
      <input type="text" name="password" id="password" placeholder="******">
    </div>
    <br>
    <button>se connecter</button>
    <br>
    <div>
      <a href="">mot de passe oublié ?</a>
      <a href="">pas encore inscrit ?</a>
    </div>
  </form>
</section>