<section class="signin" id="signup">
  <p class="exit" onclick="showSignup()">X</p>
  <p class="title">Inscription</p>
  <p>Garde un oeil sur l’air que tu respire.</p>
  <br>
  <div class="form">
    <div>
      <label for="firstName">Prénom</label><br>
      <input type="text" name="firstName" id="firstName" placeholder="John">
    </div>
    <div>
      <label for="lastName">Nom</label><br>
      <input type="text" name="lastName" id="lastName" placeholder="DOE">
    </div>
    <div>
      <label for="email">E-mail</label><br>
      <input type="text" name="email" id="email" placeholder="john.doe@example.com">
    </div>
    <div>
      <label for="password">Mot de passe</label><br>
      <input type="password" name="password" id="password" placeholder="******">
    </div>
    <div>
      <label for="cpassword">Confirmer mot de passe</label><br>
      <input type="password" name="password" id="password" placeholder="******">
    </div>
    <br>
    <button>s'inscrire</button>
    <br>
    <div>
      <a href="">mot de passe oublié ?</a>
      <a href="">j’ai un compte ?</a>
    </div>
  </div>
</section>